body {
  width: 100%;
  height: 100%;
  margin: 0;

}

header, nav, main {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 80px;
}

main p{
  width: 800px;
  
}

nav a{
  background-color: gainsboro;
}
footer{
  background-color: red;
}

footer a{
  color: #fff;
}

section#details{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
